<div class="wrapper">
  <h2 *ngIf="_gameService.xWin && _gameService.gameWinner">X Win!!!</h2>
  <h2 *ngIf="_gameService.oWin && _gameService.gameWinner">0 Win!!!</h2>
  <h2 *ngIf="_gameService.deadHeat">Dead Heat!!!</h2>
  <div *ngFor="let line of matrix">
    <app-square *ngFor="let elem of line" [square]="elem"></app-square>
  </div>
  <div class="btn-group">
    <div class="btn-checkbox">
      <div class="btn-field">
        <label for="size">Field size:</label>
        <input type="number" min="3" max="10" id="size" [(ngModel)]="_gameService.size">
      </div>
      <div class="btn-winLine">
        <label for="winLine">Winner line:</label>
        <input type="number" min="3" max="10" id="winLine" [(ngModel)]="_gameService.winLine">
      </div>
    </div>
    <button (click)="startGame(_gameService.size)">start</button>
  </div>
</div>
