div {
  width: 100px;
  height: 100px;
  display: inline-block;
  border: 1px solid black;
}
div span {
  background-size: auto 145px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: block;
}
div span.cross {
  background-position: -164px 5px;
}
div span.zero {
  background-position: 12px 5px;
}
